.navbar-inverse {
	background-color: #efefef;
	border-color: #ccc;	
}

.navbar-inverse img {
	width:20px;	
}

.navbar-inverse li.separator {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

tr.sensorCliente ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
}

tr.sensorCliente ul li {
  float: left;
}

body {
	 background-image: url("../img/background.jpg");
	 opacity: 0.9;
}

div.container {
	 background-color: #efefef;
	 border-color:1px solid #ccc;
	 opacity: 0.9;
	 padding-bottom:20px;	
}